{% extends 'main.html' %} 
{% load static %}
{% block content %} 
<div id="chat-log">
  {% for message in messages %}
  {{message.user.username}}: 
  {% if message.media %}
    {% if message.media_type == 'image' %}
      <img width="200" height="200" src="{{message.media.url}}" />
    {% elif message.media_type == 'video' %}
      <video width="320" height="240" controls>
        <source src="{{message.media.url}}" />
        Your browser does not support the video tag.
      </video>
    {% else %}
      <a href="{{message.media.url}}">{{message.media.name}}</a>
    {% endif %}
  {% else %}
    {{message.text}}
  {% endif %} 
  <br />
{% endfor %}
</div>

<input id="chat-message-input" type="text" size="50" />
<input id="chat-message-submit" type="button" value="Send Message!" />
<form
  method="POST"
  action="{% url 'room_upload' room_id %}"
  enctype="multipart/form-data"
  id="media-form"
>
  {% csrf_token %}
  <input id="chat-media-input" type="file" name="file" />
  <input id="chat-file-submit" type="submit" value="Send FILE!" />
</form>
<p>THIS IS THE ROOM_ID: {{room_id}}</p>
{{ room_id|json_script:"room-id" }}
<button id="make-offer">Make Offer</button>
<button id="make-answer">Make Answer</button>
<button id="add-answer">Add Answer</button>
<button id="logger">Log Everything</button>
<button id="start-call">START CALL</button>
<button id="end-call">END CALL</button>
<br>
<p>Offer</p>
<textarea id="offer" type="text" rows="10" cols="80"></textarea>
<br>
<p>Answer</p>
<textarea id="answer" type="text" rows="10" cols="80"></textarea>
<div id="videos">
  <video id="local-user" autoplay playsinline></video>
  <video id="remote-user" autoplay playsinline></video>
</div>
<script src="{% static 'scripts/room.js' %}" ></script>
{% endblock content %}
